html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul, li {
  list-style: none;
}

.left {
  width: 110px;
  float: left;
  margin-right: 30px;
}

.content {
  float: left;
  width: 660px;
}

.right {
  width: 340px;
  float: right;
  margin-right: 3px;
}

.un_show {
  display: none;
}